.entry {
    width: 343px;
    height: 142px;
    display: flex;
    justify-content: space-between;
    background: var(--background-1);
    color: var(--text);
    gap: 5px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
}

.entry-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entry-left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    & > h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
    }
}

.entry-time-data {
    display: flex;
    gap: 20px;
    font-family: var(--default-font);
}