#settings-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    gap: 5px;
    color: var(--text);
}

#settings-modal-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}

#settings-theme-selector-wrapper {
    display: flex;
    height: 42px;
    border: 2px solid var(--border);
    background: var(--background-1);
    border-radius: 16px;
    overflow: hidden;
    max-width: fit-content;

    & > button {
        width: 128px;
        font-size: 16px;
        border: none;
        font-family: "Inter", system-ui;
    }

    & > button:not(#selected-theme) {
        background: var(--background-1);

        &:hover {
            background: rgba(0, 0, 0, .2);
        }
    }
}

#selected-theme {
    background: var(--blue-2);
    font-weight: 600;
}

#settings-import-and-export-buttons {
    display: flex;
    gap: 5px;

    & > button {
        height: 42px;
        width: 110px;
        background: var(--background-1);
        border-radius: 5px;
        border: 2px solid var(--border);
        transition: 0.2s ease background;
        font-size: "Inter", system-ui;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        &:hover {
            background: var(--blue-2);
        }
    }
}