#settings-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    gap: 5px;
    color: var(--text);
}

#settings-modal-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#settings-theme-selector-wrapper {
    display: flex;
    height: 44px;
    border: 2px solid var(--border);
    background: var(--background-1);
    border-radius: 16px;
    overflow: hidden;
    max-width: fit-content;

    & > button {
        width: 128px;
        font-size: 16px;
        border: none;
        font-family: "Inter", system-ui;
    }

    & > button:not(#selected-theme) {
        background: var(--background-1);

        &:hover {
            background: rgba(0, 0, 0, .2);
        }
    }
}

#selected-theme {
    background: var(--blue-2);
    font-weight: 600;
}