#edit-entry-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    min-width: 400px;
    color: var(--text);
}

#edit-entry-modal-options {
    & > div {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}

#edit-entry-modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-entry-modal-button-update {
    height: 42px;
    width: 110px;
    font-size: 18px;
    border: 2px solid var(--border);
    border-radius: 5px;
    transition: 0.2s ease background;
    background: var(--blue-2);

    &:hover {
        background: var(--blue-1);
    }
}

#edit-entry-modal-delete {
    transition: 0.2s ease all;

    &:hover {
        stroke: var(--red);
    }
}