#add-entry-button {
    background: none;
    border: none;
}

#add-entry-button-big {
    width: 343px;
    height: 142px;
    background: var(--background-1);
    border: 4px dashed var(--border);
    border-radius: 10px;
}