.confirmation-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    & > span {
        font-size: 1.2rem;
        font-family: "Inter", system-ui;
    }

    & button {
        height: 42px;
        width: 110px;
        font-size: 18px;
        border: 2px solid var(--accent);
        border-radius: 5px;
        transition: 0.2s ease background;
    }
}

@media (min-width: 600px) {
    #confirmation-modal {
        max-width: 400px;
    }
}

.confirmation-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 5px;
}

.confirmation-buttons-confirm {
    background: color-mix(in srgb, var(--green) 100%, white 30%);

    &:hover {
        background: var(--green);
    }
}

.confirmation-buttons-abort {
    background: color-mix(in srgb, var(--red) 100%, white 30%);

    &:hover {
        background: var(--red);
    }
}