#add-entry-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    gap: 5px;
}

#add-entry-modal-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-entry-begin-now-button-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Inter', system-ui;
    font-weight: 500;
}

#add-entry-modal-options > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#add-entry-submit {
    height: 44px;
    border-radius: 5px;
    border: 2px solid var(--accent);
    background: white;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.2s ease background;

    &:hover {
        background: rgba(0, 0, 0, .2);
    }
}

#add-entry-time-start-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px
}