@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  --h1-font: "Palanquin Dark";
  --default-font: "Inter";
  --number-font: "JetBrains Mono";
}

body[data-theme="light"] {
  --background: #ffffff;
  --background-1: #ffffff;
  --background-hover: rgba(0, 0, 0, .2);

  --border: #000000;

  --accent: #000000;
  --text: #000000;

  --blue: #2A4DFF;
  --blue-1: #4160FF;
  --blue-2: #536FFF;
  --blue-3: #6D85FF;
  --blue-4: #869AFF;
  --blue-5: #9AABFF;

  --green: #36E339;
  --red: #FF2929;
}

body[data-theme="dark"] {
  --background: #1d1d1d;
  --background-1: #292929;
  --background-hover: rgba(255, 255, 255, .2);

  --border: #363636;

  --accent: #FFFFFF;
  --text: #FFFFFF;

  --blue: #2A4DFF;
  --blue-1: #4160FF;
  --blue-2: #536FFF;
  --blue-3: #6D85FF;
  --blue-4: #869AFF;
  --blue-5: #9AABFF;

  --green: #1f811f;
  --red: #811f1f;
}

body[data-theme="catppuccin-mocha"] {
  --background: #1e1e2e;
  --background-1: #313244;
  --background-hover: rgba(255, 255, 255, .2);

  --border: #45475a;

  --accent: var(--blue);
  --text: #cdd6f4;

  --blue: #89b4fa;
  --blue-1: #95bbfa;
  --blue-2: #a1c3fb;
  --blue-3: #accafb;
  --blue-4: #b8d2fc;
  --blue-5: #c4d9fc;

  --green: #a6e3a1;
  --red: #f38ba8;
}

body[data-theme="rose-pine"] {
  --background: #191724;
  --background-1: #1f1d2e;
  --background-hover: rgba(255, 255, 255, .2);

  --border: #2a273f;

  --accent: #e0def4;
  --text: #e0def4;

  --blue: #31748f;
  --blue-1: #3987a7;
  --blue-2: #429abe;
  --blue-3: #59a7c6;
  --blue-4: #71b3ce;
  --blue-5: #89c0d6;

  --green: #9ccfd8;
  --red: #eb6f92;
}

body[data-theme="alien"] {
  --background: #002413;
  --background-1: #004e2a;
  --background-hover: rgba(255, 255, 255, .2);

  --border: #007740;

  --accent: #c0ffe1;
  --text: #c0ffe1;

  --blue: #009c41;
  --blue-1: #00bf50;
  --blue-2: #00e35e;
  --blue-3: #07ff6e;
  --blue-4: #2bff83;
  --blue-5: #4eff98;

  --green: #9ccfd8;
  --red: #eb6f92;
}

body {
  background: var(--background);
  min-height: 100vh;
}

h1 {
  font-family: var(--h1-font);
  font-size: 3.7rem;
  line-height: 3.7rem;
  font-weight: 600;
}

h2 {
  font-family: var(--default-font);
  text-decoration: underline;
}

h3 {
  font-family: var(--default-font);
  text-decoration: underline;
  font-size: 1.5rem;
}

h1, p, button {
  color: var(--text);
}

h2, h3 {
  color: var(--accent);
}

.number-font {
  font-family: var(--number-font);
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Modals */
.modal-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.modal {
  min-width: 50px;
  min-height: 50px;
  background: var(--background);
  padding: 15px;
  box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .modal {
      border-radius: 10px;
  }
}

.checkbox[data-checked="true"] {
  background-color: var(--blue-2);
}

.error {
  font-family: var(--default-font);
  color: var(--red);
}

.modal h2 {
    font-size: 2.5rem;
}

.modal h3 {
    font-size: 1.6rem;
    text-decoration: none;
}

.modal input {
    border: 2px solid var(--border);
    height: 44px;
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
    background: var(--background-1);
    color: var(--text);

    &:focus {
        outline: none;
    }
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lucide {
  color: var(--accent);
}