@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --accent: #000000;
  --text: #000000;
  --h1-font: "Palanquin Dark";
  --default-font: "Inter";
  --number-font: "JetBrains Mono";

  --background-blue: #C5CFFF;

  --blue: #2A4DFF;
  --blue-1: #4160FF;
  --blue-2: #536FFF;
  --blue-3: #6D85FF;
  --blue-4: #869AFF;
  --blue-5: #9AABFF;
}

body {
  min-height: 100vh;
}

h1 {
  font-family: var(--h1-font);
  font-size: 3.7rem;
  line-height: 3.7rem;
  font-weight: 600;
}

h2 {
  font-family: var(--default-font);
  text-decoration: underline;
}

.number-font {
  font-family: var(--number-font);
}