.detail-card {
    width: 345px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.2);
}

.detail-card-stats {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.1rem;
    & > div {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}